{% extends 'authenticate/base.html' %}

{% block content %}
    <h1>Ask Chat-Gpt:</h1>
    <form method="POST">
      {% csrf_token %}

      <div class="form-group">
        <input type="text" class="form-control"  placeholder="Enter question" name="question">
      </div>

  <div class="form-group">
    <label for="category">Select Model:</label>
    <select class="form-control" id="category" name="category">
      <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
      <option value="gpt-4">gpt-4</option>

    </select>
  </div>

      <button type="submit" class="btn btn-primary">Ask</button>
    </form>
    {% for field in questions %}
        <p> question: {{ field.question }} </p>
        <p> answer: {{ field.answer }} </p>


    {% endfor %}


{% endblock %}